section {
    width: 500px;
}

textarea {
    width: 100%;
    height: 100px;
}

.notes {
    display: block;   
}

.btn-note {
    width: 100%;
    height: 100%;
    background-color: red;
}

.box {
    display: flex;
    padding: 25px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset,
                -1px -1px 2px #fff inset;
    border-radius: 6px;     
    margin-bottom: 5px;
}


.box p{
    margin: 10px;
}

.box-note{
    width: 100%;
}

.box-button{
    width: 100px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}