.container {
	width: 100vw;
}

.grid {
    width: 100%;
    display: flex;
    border: 1px solid #000000;
}

.col{
    width: 25%;
}

.seconday-table { 
    width: 100%;
}

@media screen and (min-width: 360px) and (max-width: 719px) {
    .grid {
        flex-wrap: wrap; 
    }

    .col {
        width: 50%;
    }
}

@media screen and (max-width: 359px) {
    .grid {
        display: block;
    }

    .col {
        width: 100%;
    }
}